@using LamMocBaoWeb.Resources

@{
    ViewData["Title"] = @Resource.Label_About_Us;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-us">
    <h3>Lâm Mộc Bảo  - Hội sưu tầm bảo vật</h3>
    <div class="info">
        <ul>
            <li>Lâm Mộc Bảo khởi sự từ năm 2015 và chính thức thành lập pháp lý vào tháng 4 năm 2020.</li>
            <li>Lâm Mộc Bảo sinh ra với sứ mệnh muốn phổ cập kiến thức về Lý Số căn bản ( phong thủy nghiên cứu về con người ) tới toàn thể người dân, để ai ai cũng cũng hiểu rõ yếu, mạnh của bản thân mà cố gắng xây dựng giá trị cho mình và người xung quanh.</li>
            <li>Cũng để loại đi lối suy nghĩ “mê tín” trong lĩnh vực lý số hàng ngàn năm qua, vì bản chất đây là môn khoa học nghiên cứu.</li>
            <li>Người hiểu rõ luật Nhân Quả -  m Dương và Mệnh Lý sẽ kiến tạo chữ ĐỨC, chữ PHÚC cho bản thân, từ đó xã hội thịnh vượng một cách bền vững.</li>
        </ul>
    </div>
</div>


