@using LamMocBaoWeb.Resources
@{
    ViewData["Title"] = @Resource.Customer_ThankYou;
}

<div class="row advise-form">
    <div class="col-7 form-group m-auto">
        <i>@Resource.Customer_Your_Information_Saved</i>
    </div>
    <div class="col-7 form-group m-auto">
        <a href="/san-pham">@Resource.Common_Return_Home_Page</a>
    </div>
</div>
