@using LamMocBaoWeb.Resources;
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="main-loader">
        <div class="bars-1"></div>
    </div>
</body>
</html>
