<div class="custom-box-should-choose-us">
    <div class="title">
        <h4 style="text-transform: uppercase;">Vì sao nên chọn chúng tôi?</h4>
    </div>
    <div class="row col-12 p-0">
        <div class="col-4">
            <img src="~/discussImg.png" />
            <p class="color-text">Sản phẩm được thiết kế bởi các chuyên gia Bát Tự</p>
        </div>
        <div class="col-4">
            @*<a target="_blank" href="https://icons8.com/icon/TLnToXNqmdBC/award">Award</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
            <img src="~/award.png" />
            <p class="color-text">Thiết kế độc nhất theo mệnh</p>
        </div>
        <div class="col-4">
            @*<a target="_blank" href="https://icons8.com/icon/2606/protect">Protect</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
            <img src="~/protectImg.png" />
            <p class="color-text">Cam kết sản phẩm 100% chất lượng tự nhiên cao cấp</p>
        </div>

    </div>
    <div class="row col-12 p-0">
        <div class="col-4">
            @*<a target="_blank" href="https://icons8.com/icon/78895/forward-30">Forward 30</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
            <img src="~/forward30Img.png" />
            <p class="color-text">Đổi trả, hoàn tiền trong 30 ngày nếu không ưng ý</p>
        </div>
        <div class="col-4">
            @*<a target="_blank" href="https://icons8.com/icon/9467/geography">Geography</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
            <img src="~/worldImg.png" />
            <p class="color-text">Giao hành nhanh toàn cầu</p>
        </div>
        <div class="col-4">
            @*<a target="_blank" href="https://icons8.com/icon/24761/trust">Trust</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*@
            <img src="~/handTrust.png" />
            <p class="color-text">Bảo hành trọn đời</p>
        </div>

    </div>
</div>

